* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  /* [class*="col-"] {
    width: 100%;
  } */
}

body {
  background-color: #ebf7ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.banner {
  background-image: url('./images/banner.jpg');
  background-size: auto;
}

.banner-content {
  padding: 100px;
  color: #ffffff;
  text-align: center;
}

.main-heading {
  margin-bottom: 10px;
  font-size: 72px;
  border-bottom: 1px solid #0099ff;
}

.button {
  padding: 10px;
  margin: 40px 80px;
  border: 1px solid #0099ff;
  border-radius: 4px;
}

.button:hover {
  background-color: #0099ff;
  cursor: pointer;
}

.white {
  background-color: #ffffff;
}

.center {
  text-align: center;
}

.icon {
  color: #ffffff;
}

.features-icon {
  padding: 24px;
  background-color: #0099ff;
  color: #ffffff;
}

.dark-bg {
  background-color: #252525;
  color: #ffffff;
}

.textbox {
  width: 100%;
  padding: 12px;
  margin: 7px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.send {
  padding: 10px;
  border: 1px solid #0099ff;
  border-radius: 4px;
}

.send:hover {
  background-color: #0099ff;
  cursor: pointer;
}

.social-icon {
  padding: 4px;
  margin: 0 2px;
  background-color: #0099ff;
  border-radius: 2px;
  color: #ffffff;
}

.social-icon:hover {
  padding: 4px;
  margin: 0 2px;
  background-color: none;
  border-radius: 2px;
  color: #000000;
  cursor: pointer;
}